body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;

}

button {
  background-color: var(--background4);
}

button>* {
  pointer-events: none;
}

html {
  font-size: 13px;
  color: #fff;
  background-color: var(--background4);
  border-color: #36393F;
}

* {
  box-sizing: border-box;
}



:root {
  /* fonts */


  --background1: #202225;
  --background2: #292b2f;
  --background3: #2f3136;
  --background4: #37393f;
  --background5: #42464e;

  --accent: #ff6122;

  --btn-main: #ff6122;
  --btn-secondary: rgb(255, 195, 113);

  --text-main: #ff6122;
  --text-secondary: #ff6122;

  --hover: #202225;

  --font1: #eaeaeb;
  --font2: #9da1a4;
  --font3: #6f6f6f;

  --icons: #61646b;

  --green-ai-main: #47d147;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;



  /* box shadow */
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* */
  --borderRadius: 0.25rem;
  --transition: 0.3s ease-in-out all;
}



.link {
  text-decoration: none;
  color: #fff;
}


.tags {
  margin: 17px 0;


}

.tags .tag {

  font-size: 12px;
  background-color: #222;
  color: #fff;
  margin-right: 5px;
  padding: 4px 7px;
  border-radius: 10px;

}


.no-content-container {
  padding: 30px 50px;
  background-color: var(--background5);
  text-align: center;
  color: var(--font2);
}

.no-content-container .text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.no-content-container .smaller-text {
  font-size: 14px;
  color: var(--font2);
  margin-top: 10px;
}

.no-content-container .icon {
  font-size: 150px;
  margin: 0 auto;
}

.no-content-container button {
  margin-top: 2.5rem;
}


/*    DROPDOWN-MENU    */



.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

}

/* ///////////////// */





.profile-button {
  cursor: pointer;
  padding: 10px;
  margin-left: 2rem;
  color: var(--font2);
  font-size: 16px;
  border: solid 2px var(--background1);
  display: flex;
  align-items: center;
}

.profile-button a {
  text-decoration: none;
  color: #6f6f6f;
}

.profile-button .icon {
  margin-right: 5px;
}


.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

/*          CARD            */

.card {
  border: 1px solid #36393F;
  box-shadow: 0 2px 5px rgb(120 120 120 / 25%);
}


.following {
  background-color: #fff;
  color: #00b2b2;
}

.follow {
  background-color: #00b2b2;
  color: #fff;
}

/* FLEXXXXX */

.flex-row {
  display: flex;
  align-items: center;
}

.ai {
  background-color: var(--green-ai-main);
}

.form p {
  color: var(--text-dark-orange);
}

.form {
  border-radius: var(--borderRadius);
  padding: 2rem 2.5rem;
  box-shadow: var(--shadow-2);
  transition: var(--transition);

}

.form-label {
  color: var(--text-dark-orange);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.form-input {
  border: 2px solid var(--text-dark-orange);
  border-radius: var(--borderRadius);
  width: 100%;
  height: 30px;
}

.form-row {
  margin-bottom: 1rem;
}

.form:hover {
  box-shadow: var(--shadow-4);
}

.orange-text {
  color: var(--text-dark-orange);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--font2);
  background-color: var(--background4);
  padding: 0.3em 1.15em;
  font-size: 14px;
  line-height: 18px;
  border-radius: 6px;
  margin: 3px 5px;
  font-weight: 600;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  white-space: nowrap;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn>.icon {
  margin-right: 5px;
}

.btn-link {
  padding: 5px 0;
  border-bottom: 1px solid var(--font2);
  background-color: transparent;
  text-decoration: none;
  border-radius: 0;
}

.btn-link:hover {
  color: var(--font1);
}

.btn-basic {
  background-color: var(--background4);
}

.btn-basic:hover {
  background-color: var(--background3);
}

.btn-main {
  background-color: var(--btn-main);
  color: var(--font1);
}

.btn-main:hover {
  background-color: #fff;
  color: var(--btn-main);
}

.btn-secondary {
  background-color: var(--btn-secondary);
}

.btn-secondary:hover {
  background-color: #fff;
  color: var(--btn-secondary);
}

.btn-alert {
  background-color: var(--btn-alert);
}

.btn-alert:hover {
  background-color: #fff;
  color: var(--btn-alert);
}

.btn-grey {
  color: #222;
  background-color: #eee;
}

.btn-grey:hover {
  color: #222;
  background-color: #e1e1e1;
}

.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
  text-align: center;
  letter-spacing: var(--letterSpacing);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}