#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    background-color: #eee;
}

#discover {
    width: 20%;
}

.list-inline {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    list-style-type: none;

}

.dropdown-menu-parent {
    display: none;
}

.dropdown-menu {
    position: absolute;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

}

.dropdown-item {
    text-decoration: none;
    color: #222;
}

.show {
    display: block;
}


#profile-toggle-btn {
    display: block;
}

.avatar {
    border-radius: 50%;
}

#header-search-form {
    height: fit-content;
}

#header-search-form input {
    border: none;
    margin-left: 1em;

}